@import "./variables.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  height: 100%;
}

* {
  font-family: 'Poppins', sans-serif;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  .app-main {
    justify-items: center;
    flex-grow: 1;
    width: 100%;

    img.logo {
      width: 144px;
      margin: var(--mp) 0;
    }

    &>* {
      min-width: 89%;
      display: flex;
      flex-direction: column;
    }
  }

  nav {
    max-width: 89%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border-top: 1px solid var(--color-F);

    a {
      color: var(--color-H);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      min-width: 20%;
      margin: var(--mp) 0;
      gap: calc(var(--mp)/2);

      &.active {
        color: var(--color-J)
      }

      span {
        font-size: var(--mp);
      }
    }
  }
}

.auth {
  .register,
  .login {
    h2 {
      margin-top: 21%;
    }

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

    .register-header span,
    .span-text {
      max-width: 70%;
      align-self: center;
      text-align: center;
      font-size: small;
      display: inline-block;
    }

    .register-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--mp);
      width: 100%;

      .username-container,
      .email-container {
        position: relative;
        width: 100%;
        max-width: 233px;
        display: flex;
        align-items: center;
      }

      .input-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 233px;
      }

      .icon {
        position: absolute;
        left: 3%;
        color: var(--color-K);
        z-index: 1;
      }

      .eye-icon {
        position: absolute;
        right: 0%;
        transform: translateY(5%);
        border: none;
        background: none;
        color: var(--color-F);
        z-index: 1;
      }

      .input-box {
        height: var(--np);
        border-radius: var(--mp);
        background-color: var(--color-C);
        border-color: var(--color-F);
        border-style: solid;
        width: 100%;
        padding: .2rem calc(var(--np) + var(--mp)) 0;

        &:focus {
          border-color: var(--color-G);
          border-width: 2px;
          outline: none;
        }

      }

      .create-account-btn {
        padding: .2rem var(--np) 0;
        height: calc(var(--np) * 1.618);
        width: 233px;
        border-radius: var(--mp);
        border-style: none;
        background-color: var(--color-G);
        color: var(--color-A);
        font-weight: bold;
      }
    }
  }
}


.footer {
  width: 100vw;
  margin: 0;
  padding: 0;
}